<h1>Eat-Da-Burger!</h1>

<form>
    <input type="text" id="burgerName">

    <br>
    <br>

    <input type="submit" value="Submit" id="submit">
    <h2>Enter a burger you want to eat. And click the submit button</h2>
</form>

<ol id="notDevoured">
    {{#each burgers}}

        {{#unless devoured}}
            <div>
                <li>{{this.burger_name}}</li>
                <button id="devourIt">Devour it!</button>
            </div>
        {{/unless}}

    {{/each}}
</ol>

<ol id="devoured">
    {{#each burgers}}

        {{#if this.devoured}}
            <div>
                <li>{{this.burger_name}}</li>
            </div>
        {{/if}}

    {{/each}}
</ol>

